/* common css start */

:root{
    --primary-color: #FF42A5;
    --secendary-color: #A055E3;
    --tertiary-color: #4EC5F7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.div-max-width{
    max-width: 80%;
    margin: 0 auto;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}

p{
    color: #534C64;
}

.linear-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/* nav start */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 46px;
    margin-right: 12px;
    height: 100%;
}

.nav-item ul{
    display: flex;
    list-style: none;
}

.logo h1 span{
    color: var(--primary-color);
}

.nav-item ul li{
    padding: 12px;
    margin-left: 8px;
    cursor: pointer;
}

.nav-item ul li:last-child{
    background-color: #E7E6E9;
    border-radius: 3px;
}

.follow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}

.fa-youtube{
    color: red;
}

/* play-like section start */

.play-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-like-right img{
    width: 470px;
}

.play-like-text{
    font-size: 50px;
    color: #0B0223;
}

.play-like-left h1{
    font-size: 80px;
}

.play-like-item{
    display: flex;
    gap: 0.5rem;
}

.play-like-item i{
    width: 1.3rem;
}

.play-like-left > *{
    margin-top: 20px;
}

/* cart section start */

.cart{
    text-align: center;
    margin-top: 3rem;
}

.cart-item-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.cart-item{
    width: 250px;
    height: 400px;
    cursor: pointer;
    border-radius: 16px;
}

.cart-item-width-height{
    width: 100%;
    height: 80%;
    margin-bottom: 0.7rem;
}

.cart-background-img-1{
    border-radius: 16px;
    background: url("../images/Rectangle 4.png"), lightgray 50% / cover no-repeat;
}

.cart-background-img-2{
    border-radius: 16px;
    background: url("../images/Rectangle 5.png"), lightgray 50% / cover no-repeat;
}

.cart-background-img-3{
    border-radius: 16px;
    background: url("../images/Rectangle 6.png"), lightgray 50% / cover no-repeat;
}

.cart-background-img-4{
    border-radius: 16px;
    background: url("../images/Rectangle 7.png"), lightgray 50% / cover no-repeat;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hover-play-icon{
    font-size: 3rem;
    color: white;
}

.play-icon{
    background-color: #000000a1;
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    border-radius: 16px;
}

.cart-item:hover .play-icon{
    display: block;
} 
.cart-item-width-height:hover{
    border: 2px solid var(--primary-color)
}

/* play instant start */

.play-instantly-container-left{
    width: 50%;
}

.play-instantly-container-left-text{
    text-align: right;
    width: 55%;
}

.play-instantly-container-left h2{
    margin-bottom: 0.7rem;
}

.play-instantly-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto 145px;
}

.play-instantly-container-right{
    width: 50%;
    position: relative;
}

.big-img{
    width: 100%;
}

.small-img{
    width: 300px;
    position: absolute;
    top: calc(100% - 250px);
    right: calc(100% - 150px);
}

/* kind of game start */

.kind-of-game{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    gap: 2rem;
    justify-content: center;
}


.games img{
    width: 1rem;
}

.games{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    align-items: center;
}

.games:hover{
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

/* footer start */

footer{
    background-color: #0B0223;
    height: 300px;
    position: relative;
    margin-top: 3rem;
}

.footer-container{
    width: 60%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-us span{
    padding: 1rem 1rem;
    cursor: pointer;
}

.sosial-icon i{
    font-size: 2rem;
    padding: 0 1.5rem;
    cursor: pointer;
}

.setting{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.setting p{
    padding: 1rem 1rem;
    cursor: pointer;
}