/* mobile responsive style start */
@media only screen and (max-width: 425px) {
    nav,
    .nav-item ul,
    .play-like,
    .cart-item-container{
        flex-direction: column;
        align-items: center;
    }

    .play-instantly-container{
        flex-direction: column;
        margin-bottom: 7rem;
    }
    .play-instantly-container-left-text{
        margin-bottom: 3rem;
        width: 130%;
        text-align: center;
    }

    .play-instantly-container-right{
        width: 80%;
        text-align: right;
    }

    .small-img{
        width: 110px;
        top: 148px;
        left: 5px;
    }

    .play-like{
        margin-top: 3rem;
        gap: 3rem;
    }

    .play-like-right img{
        width: 400px;
    }

    footer{
        width: 100%;
        height: 515px;
    }

    .games p{
        font-size: 0.5rem;
    }

    .games{
        padding: 0.5rem 0.5rem;
        gap: 0.3rem;
    }

    .kind-of-game{
        gap: 0.5rem;
    }

    .big-img{
        width: 80%;
        
    }

    .about-us span{
        font-size: 0.6rem;
    }

    .sosial-icon{
        padding: 1rem;
    }

    .sosial-icon i{
        font-size: 1rem;
    }

    .setting p{
        font-size: 0.6rem;
        padding: 0.5rem 0;
    }

    .site-info{
        font-size: 0.6rem;
        text-align: center;
        padding: 2rem;
    }
    
    /* .games{
        width: 3rem;
    } */
}

/* tablet responsive style start */

@media only screen and (min-width: 426px) and (max-width: 768px) {
    nav,
    .nav-item ul,
    .play-like{
        flex-direction: column;
        align-items: center;
    }

    .play-like{
        gap: 3rem;
    }

    .cart-item-container{
        flex-wrap: wrap;
    }

    .cart-item{
        min-width: 300px;
    }

    .play-instantly-container{
        flex-direction: column;
        margin-bottom: 8rem;
    }

    .play-instantly-container-right{
        width: 80%;
        text-align: right;
    }

    .play-instantly-container-left-text{
        margin-bottom: 3rem;
        width: 90%;
    }

    .big-img{
        width: 90%;
    }

    .small-img{
        width: 193px;
        top: 307px;
        left: -13px;
    }

    .play-like{
        margin-top: 3rem;
        gap: 3rem;
    }

    footer{
        width: 100%;
    }

    .about-us span{
        font-size: 0.6rem;
    }

    .sosial-icon{
        padding: 1rem;
    }

    .sosial-icon i{
        font-size: 1rem;
    }

    .setting p{
        font-size: 0.6rem;
        padding: 0.5rem 0.5rem;
    }

    .site-info{
        font-size: 0.6rem;
        text-align: center;
        padding: 2rem;
    }
}